{
  "TCP": {
    "443": {
      "HTTPS": true
    }
  },
  "Web": {
    "${COLEO_DOMAIN}:443": {
      "Handlers": {
        "/": {
          "Proxy": "http://127.0.0.1:443"
        }
      }
    }
  },
  "AllowFunnel": {
    "${COLEO_DOMAIN}:443": false
  }
}
