A blocking bug has been resolved.

**Bug Title:** {{ title }}
**Bug ID:** {{ bug_id }}
**Priority:** {{ priority }}
**Resolution:** {{ resolution|default("No resolution details provided") }}

Bug status has been updated to {{ status }}.

{{ blocking_tasks_count }} task(s) previously blocked by this bug:
{{ blocked_tasks_list }}

These tasks will be automatically resumed.