server:
  address: tcp://0.0.0.0:9091

log:
  level: info

totp:
  issuer: Coleo

webauthn:
  disable: false
  display_name: Coleo
  attestation_conveyance_preference: indirect
  user_verification: preferred
  timeout: 60s

authentication_backend:
  file:
    path: /config/users_database.yml
    password:
      algorithm: argon2

access_control:
  default_policy: deny
  rules:
    - domain: "${COLEO_DOMAIN}"
      policy: one_factor

session:
  cookies:
    - domain: "${AUTH_DOMAIN}"
      authelia_url: "https://${AUTH_DOMAIN}"
      default_redirection_url: "https://${COLEO_DOMAIN}"

storage:
  local:
    path: /var/lib/authelia/db.sqlite3

notifier:
  filesystem:
    filename: /config/notification.txt

identity_providers:
  oidc:
    hmac_secret: '${AUTH_HMAC_SECRET}'
